

* {
  box-sizing: border-box;
}

body {
  background-color: #131314;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Heltavica", sans-serif;
  margin: 0;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #b2b2c3;
  height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: green;
}

.seat.sold {
  background-color: #ff0000;
}

.seat:nth-of-type(3) {
  margin-right: 18px;
}

.seat:nth-last-of-type(3) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 120px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-50deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 1);
}

.totals {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color:#131314;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px green;
  }


  @media (max-width: 768px) {
    .container {
      transform: scale(0.8);
    }
  
    .movie-container select {
      font-size: 14px;
    }
  
    .showcase li small {
      font-size: 12px;
    }
  }

  @media (max-width: 480px) {
    .container {
      transform: scale(0.6);
    }
  
    .movie-container select {
      font-size: 12px;
    }
  
    .showcase li small {
      font-size: 10px;
    }
  
    .seat {
      height: 20px;
      width: 26px;
      margin: 2px;
      font-size: 30px;
    }
  
    .seat:nth-of-type(3) {
      margin-right: 12px;
    }
  
    .seat:nth-last-of-type(3) {
      margin-left: 12px;
    }
  
    .screen {
      height: 80px;
      margin: 10px 0;
    }
  
    .totals {
      padding: 15px;
      box-shadow: 0 0 5px green;
    }
  }